*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: black;
}

.game{
    background: url('img/background.jpg') center/cover;
    margin: 10rem auto;
    width: 60rem;
    height: 40rem;
    border: 2px solid white;
}