*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: black;
}

.game{
    background: url('img/background.jpg') center/cover;
    margin: 5rem auto;
    width: 60rem;
    height: 40rem;
    border: 0.5rem solid white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game__target{
    position: absolute;
    bottom: 5px;
}

.game__btn{
    margin-top: 2rem;
    width: 3rem;
    height: 3rem;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    opacity: 0.8;
    transition: all 300ms ease-in;
}

.game__btn:hover{
    transform: scale(1.1);
    opacity: 1;
}

.game__timer{
    margin-top: 1rem;
    width: 10rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: 3px solid white;
    color: white;
    line-height: 3rem;
    font-size: 2.5rem;
}

.game__score{
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 2.5rem;
    border-radius: 50%;
    background-color: white;
}
